BASE_URL="https://bot.dansday.com"

DB_HOST=localhost
DB_PORT=3306
DB_USER=dansday_bot
DB_PASSWORD=change_me
DB_NAME=dansday_bot

MAIL_HOST=xxx.dansday.com
MAIL_PORT=587
MAIL_USERNAME=xxx@dansday.com
MAIL_PASSWORD=password

REDIS_URL=redis://default:change_me@localhost:6379/0

CAPTCHA_SECRET=change_me_long_random

ROBLOX_SECURITY_COOKIE=your_.ROBLOSECURITY_cookie_here
